@model BlogWeb.API.Models.ViewModels.UserListViewModel

@{
}

<link rel="stylesheet" href="~/css/Create.css" />
<div class="card card-for-category">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" asp-action="EditByName">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" asp-for="@Model.newUserInfo.newRegister.UserId" readonly />
                        <span asp-validation-for="@Model.newUserInfo.newRegister.UserId" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input asp-for="@Model.newUserInfo.newRegister.UserName" class="form-control" placeholder="User Name" required />
                        <span asp-validation-for="@Model.newUserInfo.newRegister.UserName" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group">
                        <input asp-for="@Model.newUserInfo.newRegister.Email" class="form-control" placeholder="Email Address" required />
                        <span asp-validation-for="@Model.newUserInfo.newRegister.Email" class="label-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="form-group" id="botam">
                        <input type="submit" value="Update" class="btn btn-create" />
                        <button type="button" class="btn btn-cancel" onclick="window.history.back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="error-message">
                            <label class="label label-danger">@ViewBag.Message</label>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
